.container {
  background-color: #333131;
  justify-content: center;
  padding: 10px 0 50px 0;
  margin: 2rem auto;
  border-radius: 40px;
  box-shadow: 25px 25px 75px #363836, -12px -12px 14px #666 inset;
  width: 450px;
}

.output {
  width: 76%;
  background-color: rgb(115 115 115);
  padding: 1.5rem;
  text-align: right;
  color: #f5f5f5;
  margin: auto;
  font-size: 21px;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(4, 5rem);
  justify-content: center;
  gap: 1px;
}

.btns > button {
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border: none;
}

.btns .span-2 {
  grid-column: span 2;
}

.orange {
  background-color: #fb923c;
}
